.home_wrapper{
    width: 100%;
    height: auto;
}

.sect_one{
    width: 100%;
    height: 90vh;
    display: flex;
}

.text_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.p_one{
    padding: 1rem;
    font-size: 2rem;
    font-family: "Comfortaa", cursive;;
}

.p_two{
    padding: 1rem;
}

.btn_wrapper{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume_btn{
    cursor: pointer;
    padding: .7rem 4rem;
    margin: auto 1rem;
    background-color: var(--blue1);
    
}

.linkedIn_btn{
    cursor: pointer;
    padding: .7rem 4rem;
    margin: auto 1rem;
    background-color: transparent;
}

button{
    border: .13rem solid black;
}

.profile_pic_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.profile_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 2rem;
    justify-content: center;
    background: url("../images/profile_pic.jpg");
    background-size: cover;
    background-position: center;
}

