.navbar {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
}

.logo{
    color: black;
    font-size: 1.2rem;
}

li,a{
    text-decoration: none;
}

.logo{
    cursor: pointer;
}

.ul_navbar{
    list-style: none;
}

.li_navbar{
    display: inline-block;
    padding: 3rem;
}

.li_navbar a {
    transition: all 0.3s ease 0s;
    color: black;
}

.li_navbar a:hover{
    color:#0088a9
}